.topleftglow {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: auto;
    z-index: -1;
    opacity: 64%;
}

.desktop {
    width: 50%;
}

h1 {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 4rem;
    font-weight: 800;
}

.feature {
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 16px;
}

.flexbuttons {
    display: flex;
    flex-direction: row;
    padding-left: 15%;
    padding-top: 64px;
    column-gap: 8px;
}

.downloadbtn {
    border-radius: 2px;
    border: none;
    background: #0569FF;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1.25rem;
    padding: 24px 36px;;
    transition: all 0.3s ease 0s;
}

.downloadbtn:hover {
    background-color: #0750bd;
}

.discordbtn {
    border-radius: 2px;
    border: 0.15rem solid rgb(14, 19, 27);
    background: transparent;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1.25rem;
    padding: 22.5px 36px;;
    transition: all 0.3s ease 0s;
}

.discordbtn:hover {
    background-color: rgb(14, 19, 27);
    border: 0.15rem solid rgb(14, 19, 27);
}

.tick {
    color: #0569FF;
    padding-left: 15%;
}

.herosection {
    display: flex;
    padding-left: 15%;
    padding-right: 15%;
    width: 100%;
    flex-direction: row;
    gap: 25% 25%;
}

/* makes a one column layout instead of a 2-column layout */
@media (max-width: 800px) {
    .herosection {
      flex-direction: column;
    }
    .desktop {
        width: 100%;
    }
}

body {
    background: black; 
    letter-spacing: -4px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    letter-spacing: 0px;
}
  
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 15%;
    background-color: transparent;
    position: relative;
}
  
.logo {
    margin-right: auto;
    height: 150px;
}

.brand {
    margin-right: auto;
    height: 150px;
}
  
.nav__links {
    list-style: none;
    display: flex;
}
  
.nav__links, a {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    letter-spacing: -0.7px;
    color: #edf0f1;
    text-decoration: none;
}
.cta {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    letter-spacing: -0.7px;
    color: #edf0f1;
    text-decoration: none;
}
.overlay__content a {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    letter-spacing: -0.7px;
    color: #edf0f1;
    text-decoration: none;
}
  
.nav__links li {
    padding: 0px 20px;
}
  
.nav__links li a {
    transition: all 0.3s ease 0s;
}
  
.nav__links li a:hover {
    color: #0569FF;
}
  
.cta {
    margin-left: 20px;
    padding: 16px 25px;
    background-color: #0569FF;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
  
.cta:hover {
    background-color: #0750bd;
}
  
  /* Mobile Nav */
  
.menu {
    display: none;
}
  
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #24252a;
    overflow-x: hidden;
    transition: all 0.5s ease 0s;
}
  
.overlay--active {
    width: 100%;
}
  
.overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
.overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
}
  
.overlay a:hover,
.overlay a:focus {
    color: #0750bd;
}
.overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #edf0f1;
    cursor: pointer;
}
  
@media screen and (max-height: 450px) {
    .overlay a {
      font-size: 20px;
    }
    .overlay .close {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
}
  
@media only screen and (max-width: 800px) {
    .nav__links,
    .cta {
      display: none;
    }
    .menu {
      display: initial;
    }
}
  